<div id="collections" class="title span7">
  <h1><%= image_tag asset_path('cenit-logo.png'), alt: 'Cenit.IO' %><%= t(:collections) %></h1>
  <hr/>
</div>
<div class="row col-sm-12 collections">
  <!--TODO: Collections views -->
</div>
