.plans {
  text-align: center;

  .well {
    margin-right: 10px;

    &.current {
      border-color: #337ab7;
    }

    .plan {
      background-color: #111575;
      border-radius: 10px;

      &.plan.featured-plan {
        background-color: #CCAB00;
      }

      h2 {
        line-height: 100px;
        color: #fff;
      }
    }
  }
}

.title {

  img {
    width: 64px;
    float: left;
    margin-right: 1ex;
  }

  hr {
    border-color: inherit;
    border-style: dotted;
    margin-top: 0px;
  }
}